
@theme {

  --font-base: 'Montserrat', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  --font-header: 'Schibsted Grotesk', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  --font-serif: 'Playfair', serif;
  --font-mono: 'Inconsolata', ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;

  --color-*: initial;
  --color-ocean-50: oklch(97.5% 0.05 220);   /* #d3faff */
  --color-ocean-100: oklch(93.8% 0.05 215);  /* #adedfc */
  --color-ocean-200: oklch(87.2% 0.1 210);  /* #7cdbf6 */
  --color-ocean-300: oklch(80% 0.15 208);  
  --color-ocean-400: oklch(71.2% 0.15 215);  /* #42a8d9 */
  --color-ocean-500: oklch(58.5% 0.15 225);  /* #2f80be */
  --color-ocean-600: oklch(49.8% 0.1 230);  /* #2869a7 */
  --color-ocean-700: oklch(38.2% 0.1 235);  /* #204b89 */
  --color-ocean-800: oklch(25% 0.08 240);  /* #162967 */
  --color-ocean-900: oklch(19.8% 0.07 245);  /* #121754 */
  --color-ocean-950: oklch(14.2% 0.07 250);  /* #0d0441 */

  --color-green-200: oklch(86.92% 0.129 132.22);
  --color-green-400: oklch(73.79% 0.187 137.2);
  --color-spotify-green: oklch(68.88% 0.187 148.92);

  --color-red-400: oklch(59.47% 0.208 27.17);
  --color-yellow-400: oklch(84.22% 0.183 99.35);

  --color-pale-grey: oklch(90.40% 0.017 264.38);
  --color-black: #000;
  --color-white: #fff;

  --spacing: 0.25rem;

  --text-*: initial;
  --text-sm: 0.75rem;
  --text-sm--line-height: calc(1 / 0.75);
  --text-base: 1rem;
  --text-base--line-height: calc(1.25 / 1);
  --text-lg: 1.25rem;
  --text-lg--line-height: calc(1.75 / 1.25);
  --text-xl: 1.5rem;
  --text-xl--line-height: calc(2 / 1.5);
  --text-2xl: 2rem;
  --text-2xl--line-height: calc(2.25 / 2);
  --text-3xl: 2.5rem;
  --text-3xl--line-height: calc(2.75 / 2.5);
  --text-8xl: 5rem;

  --font-weight-*: initial;
  --font-weight-light: 300;
  --font-weight-medium: 375;
  --font-weight-semibold: 450;
  --font-weight-bold: 600;
  --font-weight-extrabold: 750;
}

@theme inline {
  --color-surface-0: var(--color-ocean-950);
  --color-surface-1: var(--color-ocean-900);
  --color-surface-2: var(--color-ocean-800);
  --color-surface-3: var(--color-ocean-700);
  --color-surface-4: var(--color-ocean-600);

  --color-content-0: var(--color-pale-grey);
  --color-content-1: var(--color-ocean-100);
  --color-content-2: var(--color-ocean-200);
  --color-content-3: var(--color-ocean-400);
  --color-content-4: var(--color-ocean-500);
  
}
