---
import BaseLayout from "@/layouts/BaseLayout.astro";

const title = "404";
---

<BaseLayout titleShort={title}>
  <section
    class="bg-surface-4 m-4 mt-16 flex flex-col rounded-4xl p-1 text-center md:mt-24 lg:mt-40"
  >
    <section class="bg-surface-3 m-4 flex flex-col rounded-4xl p-1 text-center">
      <section
        class="bg-surface-2 m-4 flex flex-col rounded-4xl p-1 text-center"
      >
        <section
          class="bg-surface-1 m-4 flex flex-col rounded-4xl p-8 text-center"
        >
          <span
            class="text-content-4 -mt-6 mb-2 font-serif text-8xl leading-none font-bold"
          >
            404
          </span>
          <h2 class="text-content-2 mb-2">page not found</h2>
          <p class="text-content-1">
            the page you're looking for does not exist!
          </p>
        </section>
      </section>
    </section>
  </section>
</BaseLayout>
