---
import BaseLayout from '@/layouts/BaseLayout.astro';
import ResearchArticle from '@/components/ResearchArticle'
import { getCollection } from 'astro:content';

const title = "research";
const research = await getCollection('research');

// Sort newest relevant_date
research.sort((a, b) =>
  (new Date(b.data.date_published) > new Date(a.data.date_published) ? 1 : -1)
);
---

<BaseLayout titleShort={title} titleFull={title}>
  <p class="pb-6 markdown-content flex flex-col text-center"> 
    <a href="https://scholar.google.com/citations?user=IvQzJqIAAAAJ&hl=en"> google scholar </a>
    <span class="text-content-2">(asterisks & carets indicate authors with equal contribution)</span>
  </p>  

  <div class="max-w-5/6 md:max-w-3/5 flex flex-col gap-4">
  {research.map(r => (
    <ResearchArticle client:load article={r.data} />
  ))}
</div>

</BaseLayout>
