---
// github.com/rezahedi/rezahedi.dev/blob/main/src/components/TOCHeading.astro
const { heading } = Astro.props;
const indentClass =
  heading.depth === 2 ? 'pl-0'
  : heading.depth === 3 ? 'pl-4'
  : heading.depth === 4 ? 'pl-8'
  : '';

export interface HeadingHierarchy {
  text: string;
  depth: number;
  id?: string; // from rehype-slug
  subheadings: HeadingHierarchy[];
}

---
<li class={`${indentClass} leading-2 pb-1`}>
  <a class="font-base text-sm text-balance tracking-tight text-content-3 focus-outline-rounded hover:font-semibold hover:text-content-2 soft-transition"
    href={'#' + heading.id}
    id={`toc-link-${heading.id}`}>
    {heading.text}
  </a>
  {heading.subheadings.length > 0 && (
    <ul>
      {heading.subheadings.map((subheading: any) => (
        <Astro.self heading={subheading} />
      ))}
    </ul>
  )}
</li>