---
// src/components/SearchButton.astro
import { Icon } from "astro-icon/components";
const { id = "search-trigger", size = "h-6 w-6", label } = Astro.props;
---

<button
  id={id}
  class="group relative flex items-center focus-outline-rounded"
  aria-label="Open search"
>
  <Icon
    name="mdi--magnify"
    class={`${size} text-content-3 group-hover:text-content-2 group-focus:text-content-2 group-focus:scale-110 soft-transition`}
  />
  {
    label && (
      <span class="font-header text-content-4 ml-2 text-base font-semibold tracking-wide">
        {label}
      </span>
    )
  }
</button>
