---
import Navigation from '@/components/Navigation.astro';
import Footer from '@/components/Footer.astro';
import Analytics from '@vercel/analytics/astro';
import '@/styles/index.css';

export type Props = {
  titleShort: string;
  titleFull?: string;
}

const { titleShort, titleFull }: Props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/tricolor-paw.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- fetch Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300..600&family=Schibsted+Grotesk:ital,wght@0,375..600;1,375..600&family=Inconsolata:wght@300..600&display=swap&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap"
      rel="stylesheet"
    />

    <title> {titleShort} </title>
    <Analytics />
  </head>

  <body data-pagefind-body>
    <script type="module" src="/scripts/search-modal.js"></script>
    <script type="module" src="/scripts/mobile-menu.js"></script>
    <Navigation />
    <div class="flex min-h-dvh flex-col items-center bg-surface-0 pb-4">
      {titleFull && <h1 class="pt-6"> {titleFull} </h1>}
      <slot /> {/* page-specific content goes */}
    </div>
    <Footer />
  </body>
</html>